.tooltip {
  position: relative;
  color: $body-font-color;
  font-size: 13px;
  line-height: 17px;
}

.tooltip:hover:after {
  background: $info-color;
  @include border-radius(4px);
  bottom: 40px;
  color: $white;
  content: attr(title);
  left: 20%;
  padding: 6px 10px;
  position: absolute;
  z-index: 98;
  width: 150px;
}

.tooltip:hover:before{
  border: solid;
  border-color: $info-color transparent;
  border-width: 6px 6px 0 6px;
  bottom: 34px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}
